.btn-success:hover{
    border-color: lightseagreen;
}
canvas {
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{ 
from {box-shadow: 2px 2px 38px lightseagreen;}
to {box-shadow: 2px 2px 38px lightskyblue;}
}
#id {
    background-image: linear-gradient(to left, lightpink,lavender);
}

